<section class="page-section" id="storia">
    <div id="storia-gallery" class="container-lg">

        <p>
            Colore 1: #B6D373<br>
            Colore 2: #5FAD7F<br>
        </p>

        <h2 class="mt-4 mb-1">1 - Animated Mesh</h2>
        <a href="https://www.mshr.app/create/new" target="_blank">
            https://www.mshr.app/create/new
        </a>

        <div style="position: relative; height: 100vh">
            <div class="mesh-mshr" style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1; 
                background-size: 100% 100%;
                filter: blur(80px);">
            </div>
        </div>

        ------------------------------------------------------------------------------------------------------------------------------------------------
        <h2 class="mt-4 mb-1">2 - Static Blended Mesh</h2>
        <a href="https://colorffy.com/mesh-gradient-generator?colors=B7D474-5FAD7F" target="_blank">
            https://colorffy.com/mesh-gradient-generator?colors=B7D474-5FAD7F
        </a>

        <div style="position: relative; height: 100vh">
            <div class="mesh-colorffy" style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1; 
                background-size: 100% 100%;
                filter: blur(80px);">
            </div>
        </div>


        ------------------------------------------------------------------------------------------------------------------------------------------------
        <h2 class="mt-4 mb-1">3 - Static Simple Mesh</h2>
        <a href="https://csshero.org/mesher/" target="_blank">
            https://csshero.org/mesher/
        </a>

        <div style="position: relative; height: 100vh">
            <div class="mesh-mesher" style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1; 
                background-size: 100% 100%;
                filter: blur(80px);">
            </div>
        </div>

    </div>
</section>