<footer class="footer py-3 py-md-2">
    <div class="container px-0">

        <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
            <img class="img-footer-logo img-fluid" src="assets/img/logos/logo-transparent.webp" alt="" />

            <!-- Visible on md -->
            <div class="d-none d-md-inline">
                <h6 class="fs-5 _lh-sm mb-0 text-white">Showcase Web Page</h6>
                <b class="text-white">{{currentYear}}</b>
            </div>

            <div class="my-3 my-md-0">
                <a class="btn btn-warning btn-social mx-2" href="#" aria-label="Email">
                    <img src="assets/icon/envelope-white.svg" alt="" class="text-white" height="16px" width="24px">
                </a>
                <a class="btn btn-warning btn-social mx-2" href="#" aria-label="Facebook">
                    <img src="assets/icon/facebook-f-white.svg" alt="" class="text-white" height="16px" width="24px">
                </a>
                <a class="btn btn-warning btn-social mx-2" href="#" aria-label="LinkedIn">
                    <img src="assets/icon/instagram-white.svg" alt="" class="text-white" height="16px" width="24px">
                </a>
            </div>

            <!-- Mobile only text -->
            <div class="d-inline d-md-none">
                <h6 class="fs-5 _lh-sm mb-0 text-white">Showcase Web Page</h6>
                <b class="text-white">{{currentYear}}</b>
            </div>


        </div>

    </div>
</footer>