//
// Navbar
//

#nav-header {
    width: 97%;

    /* Safari */
    @supports (font: -apple-system-body) and (-webkit-appearance: none) {
        // width: auto !important;
        margin-left: .5rem;
        margin-right: .5rem;
    }


    justify-self: center;
    margin-top: .3rem;

    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: rgba($blue-800, 1);
    transition: background-color 0.3s;

    .navbar-toggler {
        padding: 0.75rem;
        font-size: 0.75rem;
        font-family: $headings-font-family;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
    }

    .navbar-brand {
        color: $white;
        font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        letter-spacing: $headings-letter-spacing;
        // text-transform: uppercase;

        .img-logo {
            transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
            height: 2.25rem;
            width: 2.25rem;

            @include media-breakpoint-up(md) {
                height: 2.5rem;
                width: 2.5rem;
            }
        }

        .header-title {
            transition: font-size 0.3s ease-in-out;
            font-size: 1.15rem;

            @include media-breakpoint-up(md) {
                font-size: 1.25rem !important;
            }
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                font-family: $headings-font-family;
                font-size: 0.95rem;
                color: $white;
                letter-spacing: $headings-letter-spacing;

                &.active,
                &:hover {
                    color: $yellow;

                    // Add shadows for better readability
                    text-shadow: #000 1px 0px 3px;
                    -webkit-font-smoothing: antialiased;
                }
            }
        }
    }

    .w-small-100 {
        width: 100%;

        @include media-breakpoint-up(lg) {
            width: auto;
        }
    }

    @include media-breakpoint-down(lg) {
        &.navbar-scrolled {
            background-color: rgba($blue-800, 0.9);

            .header-title {
                font-size: 1rem;
            }

            @include media-breakpoint-down(md) {
                .navbar-brand {
                    .img-logo {
                        height: 2rem;
                        width: 2rem;
                    }
                }
            }
        }
    }
}

// Responsive styling for screen width equal to or greater than the large breakpoint
@include media-breakpoint-up(lg) {
    #nav-header {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: transparent;
        transition: padding-top 0.3s ease-in-out,
            padding-bottom 0.3s ease-in-out;

        .navbar-brand {
            font-size: 1.5em;
            transition: font-size 0.3s ease-in-out;

            img {
                height: 2rem;
                transition: height 0.3s ease-in-out;
            }
        }

        // Styling for when the navbar shrinks on larger screens
        &.navbar-scrolled {
            padding-top: 1rem;
            padding-bottom: 1rem;
            // background-color: rgba($gray-900, 0.9);
            background-color: rgba($blue-800, 0.9);

            .navbar-brand {
                font-size: 1.25em;
            }
        }

        .navbar-nav .nav-item {
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}