<!-- List Section -->
<section class="page-section" id="list">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase text-primary">
                10° Lorem ipsum dolor sit amet consectetur
            </h2>

            <ul class="text-muted fs-5 ps-5">
                <li>• Lorem ipsum, dolor sit: <b class="text-warning">123</b></li>
                <li>• Lorem ipsum, dolor sit amet: <b class="text-warning">456</b></li>
                <li>• Lorem ipsum, dolor sit amet consectetur : <b class="text-warning">78</b></li>
                <li>• Lorem ipsum, dolor sit amet consectetur adipiscing: <b class="text-warning">9</b></li>
                <li>• Lorem ipsum, dolor: <b class="text-warning">001</b></li>
            </ul>


            <h5 class="text-muted mb-0 mt-1">
                Lorem ipsum dolor sit amet consectetur adipiscing elit quisque faucibus ex!
            </h5>
        </div>

    </div>
</section>

<!-- First -->
<section class="page-section" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase text-primary pe-25 mb-0">Lorem ipsum dolor</h2>

            <!-- Gradient animation -->
            <div>
                <div class="mesh-mshr" style="
                position: absolute;
                top: 55rem;
                left: -20rem;
                width: 100%;
                height: 50rem;
                z-index: -1;
                background-size: 100% 100%;
                filter: blur(80px);">
                </div>
            </div>

            <div class="d-flex flex-column flex-md-row align-items-center align-items-md-end align-items-lg-center">
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipiscing elit quisque faucibus ex sapien
                    vitae pellentesque sem placerat in id cursus mi pretium tellus duis convallis tempus leo eu aenean
                    sed diam urna tempor pulvinar vivamus fringilla lacus nec metus bibendum egestas iaculis massa nisl
                    malesuada lacinia integer nunc posuere ut hendrerit semper vel class aptent taciti sociosqu ad
                    litora torquent per conubia nostra inceptos himenaeos orci varius natoque penatibus et magnis dis
                    parturient montes nascetur ridiculus mus donec rhoncus eros lobortis nulla molestie mattis
                    scelerisque maximus eget fermentum odio phasellus non purus est efficitur laoreet mauris pharetra
                    vestibulum fusce dictum risus blandit quis suspendisse aliquet nisi sodales consequat magna ante
                    condimentum neque at luctus nibh finibus facilisis dapibus etiam interdum tortor ligula congue
                    sollicitudin erat viverra ac tincidunt nam porta elementum a enim euismod quam justo lectus commodo
                    augue arcu dignissim velit aliquam imperdiet mollis nullam volutpat porttitor ullamcorper rutrum
                    gravida cras eleifend turpis fames primis vulputate ornare sagittis vehicula praesent dui felis
                    venenatis ultrices proin libero feugiat tristique accumsan maecenas potenti ultricies habitant morbi
                    senectus netus suscipit auctor curabitur facilisi cubilia curae hac habitasse platea dictumst lorem
                    ipsum dolor sit amet consectetur adipiscing elit quisque faucibus ex sapien vitae pellentesque sem
                    placerat in id cursus mi pretium tellus duis convallis tempus leo eu aenean sed diam urna tempor
                    pulvinar vivamus fringilla lacus nec metus bibendum egestas iaculis massa nisl malesuada lacinia
                    integer nunc posuere ut hendrerit semper vel class aptent taciti sociosqu ad litora torquent per
                    conubia nostra inceptos himenaeos orci varius natoque penatibus et magnis dis parturient montes
                    nascetur ridiculus mus donec rhoncus eros lobortis nulla molestie mattis scelerisque maximus eget
                    fermentum odio phasellus non purus est efficitur laoreet mauris pharetra vestibulum fusce dictum
                    risus blandit quis suspendisse aliquet nisi sodales consequat magna ante condimentum neque at luctus
                    nibh finibus facilisis dapibus etiam interdum tortor ligula congue sollicitudin erat viverra ac
                    tincidunt nam porta elementum a enim euismod quam justo lectus commodo augue arcu dignissim velit
                    aliquam imperdiet mollis nullam volutpat porttitor ullamcorper rutrum gravida cras eleifend turpis
                    fames primis vulputate ornare sagittis vehicula praesent dui felis venenatis ultrices proin libero
                    feugiat tristique accumsan maecenas potenti ultricies habitant morbi senectus netus suscipit auctor
                    curabitur facilisi cubilia curae hac habitasse platea dictumst lorem ipsum dolor sit amet
                    consectetur adipiscing elit quisque faucibus ex sapien vitae pellentesque sem placerat in id cursus
                    mi pretium tellus duis convallis tempus leo eu aenean.</p>

                <div class="flex-row mt-sm-0">
                    <div class="team-member mt-2 mt-md-0 ms-md-3">
                        <img class="mx-auto rounded-circle" src="assets/img/team/team-member.webp" alt="..." />
                        <h4 class="text-primary">Name Surname</h4>
                        <h6 class="text-muted mb-0">Presidente</h6>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>


<!-- Second -->
<section class="page-section" id="second">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase text-primary pe-25 mb-0">Lorem ipsum</h2>

            <div class="d-flex flex-column flex-md-row align-items-center align-items-md-end align-items-lg-center">
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipiscing elit quisque faucibus ex sapien
                    vitae pellentesque sem placerat in id cursus mi pretium tellus duis convallis tempus leo eu aenean
                    sed diam urna tempor pulvinar vivamus fringilla lacus nec metus bibendum egestas iaculis massa nisl
                    malesuada lacinia integer nunc posuere ut hendrerit semper vel class aptent taciti sociosqu ad
                    litora torquent per conubia nostra inceptos himenaeos orci varius natoque penatibus et magnis dis
                    parturient montes nascetur ridiculus mus donec rhoncus eros lobortis nulla molestie mattis
                    scelerisque maximus eget fermentum odio phasellus non purus est efficitur laoreet mauris pharetra
                    vestibulum fusce dictum risus blandit quis suspendisse aliquet nisi sodales consequat magna ante
                    condimentum neque at luctus nibh finibus facilisis dapibus etiam interdum tortor ligula congue
                    sollicitudin erat viverra ac tincidunt nam porta elementum a enim euismod quam justo lectus commodo
                    augue arcu dignissim velit aliquam imperdiet mollis nullam volutpat porttitor ullamcorper rutrum
                    gravida cras eleifend turpis fames primis vulputate ornare sagittis vehicula praesent dui felis
                    venenatis ultrices proin libero feugiat tristique accumsan maecenas potenti ultricies habitant morbi
                    senectus netus suscipit auctor curabitur facilisi cubilia curae hac habitasse platea dictumst lorem
                    ipsum dolor sit amet consectetur adipiscing elit quisque faucibus ex sapien vitae pellentesque.</p>

            </div>
        </div>

    </div>
</section>